#header {
    width: 100%;
    height: 100px;
    background-color: #FAFAFA;
    border-bottom: 1px solid #d8d8d8;
}
#main {
    width: 100%;
    height: auto;
    background-color: #FAFAFA;
    border-bottom: 1px solid #d8d8d8;

}

.sld-main {
    width: 1100px;
    height: 250px;
    margin: 0 auto;
    background-color: #e5ecee;
    /*font-family: FontAwesome;*/
    margin-bottom: 20px;
}
.active {
    background-color: #e5ecee;
    /*font-family: FontAwesome;*/
}
.text-sld {
    width: 400px;
    height: 250px;
    margin: 0 auto;

}